<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>

    {{{ body }}}
    
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const messages = document.getElementById('messages');
  const form = document.getElementById('form');
  const input = document.getElementById('name');
  

   form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('new product', input.value);
      input.value = ''
    }
  });

  socket.on('update product', data => {
    const item = document.createElement('span');
    let br = document.createElement('br')
    item.textContent = data;
    messages.appendChild(item);
    messages.appendChild(br);
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>  
</body>
</html>