<div class="container fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-6 col-xxl-6 col-lg-6">
            <img src="https://i0.wp.com/blog.fossasia.org/wp-content/uploads/2017/07/handlebars-js.png?fit=500%2C500&ssl=1" alt="" width="15%">
            <form method="post" id="form" action="/products">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" name="name" class="form-control w-75" id="name" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-success mb-4">Send!</button>
            </form>
        </div>
        
        <div class="col-sm-12 col-xl-6 col-xxl-6 col-lg-6">
            
            <h3>List of products</h3>
            <table class="table">
                <thead>
                    <tr>
                        <span scope="col">Nombre de producto</span>
                    </tr>
                </thead>
                <tbody>
                    <tr id="messages"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>